<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="/assets/logo_purple_elephant.png"
        height="30px"
        class="d-inline-block align-top"
        alt=""
      />
      Event Planner
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav ms-auto">
        <a
          class="nav-item nav-link"
          data-bs-toggle="collapse"
          data-bs-target=".navbar-collapse"
          routerLink="/event"
          >Event</a
        >
        <a
          class="nav-item nav-link"
          data-bs-toggle="collapse"
          data-bs-target=".navbar-collapse"
          routerLink="/person"
          >Person</a
        >
        <a
          class="nav-item nav-link"
          data-bs-toggle="collapse"
          data-bs-target=".navbar-collapse"
          routerLink="/organization"
          >Organization</a
        >
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            >User</a
          >
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Login</a></li>
          </ul>
        </li>
      </div>
    </div>
  </div>
</nav>
