.events {
    cursor: pointer;
    border: #fff solid 3px;
    border-bottom: #ededed solid 3px;
    border-radius: 3px;
    min-height: 50px;
    transition: 0.3s ease-in;
}

.events:hover {
    border-bottom: #d448d6 solid 3px;
}

.invitedPeopleHeader {
    font-size: medium;
    margin: 5px 0px 0px 0px;
}