<div class="col-lg-8 mx-auto mt-5 p-3">
  <header>
      <h1>Person page</h1>
  </header>
  <main>
      <div *ngFor="let person of this.people; let i = index" (click)="itemClickHandler(i)">
          <div class="row listHeader mt-3 mb-3">
              <div class="col-sm my-auto"><h2>{{person.firstName}} {{person.lastName}}</h2></div>
          </div>
      <div class="row" *ngIf="this.detailsToShow.includes(i)">
          <div class="col-sm-4">Notes: {{person.notes}}</div>
          <div class="col-sm-4">Email: {{person.personalEmail}}</div>
          <div class="col-sm-4">Active: {{person.active}}</div>
      </div>
  </div>
  </main>
</div>