<div class="col-lg-8 mx-auto mt-5 p-3">
  <div class="row">
    <div class="col-sm-12">
      <img
        src="/assets/logo_purple_elephant.png"
        alt="Purple Elephant Logo"
        class="mx-auto d-block img-fluid"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center">Event Planner</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p class="text-center">
        This is a simple event planner application made by Purple Elephant team.
      </p>
    </div>
  </div>
</div>
