<div class="col-lg-8 mx-auto mt-5 p-3">
    <header>
        <h1>Organization page</h1>
    </header>
    <main>
        <div *ngFor="let organization of this.organizations; let i = index" (click)="itemClickHandler(i)">
            <div class="row listHeader mt-3 mb-3">
                <div class="col-sm my-auto"><h2>{{organization.name}}</h2></div>
            </div>
        <div class="row" *ngIf="this.detailsToShow.includes(i)">
            <div class="col-sm-4">Address: {{organization.address}}</div>
            <div class="col-sm-4">Active: {{organization.active}}</div>
            <div class="col-sm-4">Parent organization: {{organization.parent.name}}</div>
        </div>
        <ng-container *ngIf="this.detailsToShow.includes(i)">
            <div class="row">
                <div class="col-sm"><h3>Members</h3></div>
            </div>
            <div class="row" *ngFor="let person of organization.people">
                <div class="col-sm">{{person.firstName}} {{person.lastName}}</div>
            </div>
        </ng-container>
    </div>
    </main>
</div>